{% extends "base.html" %}

{% block content %}
    <div class="card mb-5 bg-light">
        <div class="card-header">
            <h2 class="mb-3">New Job</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('job.index') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    {{ form.address.label(class_='col-sm-2 col-form-label') }}
                    <div class="col-sm-10">
                        {{ form.address(class_='form-control') }}
                        {% for error in form.address.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.date.label(class_='col-sm-2 col-form-label') }}
                    <div class="col-sm-10">
                        {{ form.date(class_='form-control') }}
                        {% for error in form.date.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.time.label(class_='col-sm-2 col-form-label') }}
                    <div class="col-sm-10">
                        {{ form.time(class_='form-control') }}
                        {% for error in form.time.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.notes.label(class_='col-sm-2 col-form-label') }}
                    <div class="col-sm-10">
                        {{ form.notes(class_='form-control') }}
                        {% for error in form.notes.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {{ form.submit(class_='btn btn-primary float-right') }}
            </form>
        </div>
    </div>
    <h2 class="mb-3">All Jobs ({{ jobs|length }})</h2>
    {% for job in jobs %}
        <div class="card mb-3">
            <div class="card-header"><strong>Created by:</strong> {{ job.author.full_name }} on {{ timestamp_pretty(job.created_at) }}</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong class="text-dark">Address:</strong> {{ job.address }}</li>
                <li class="list-group-item"><strong class="text-dark">Date:</strong> {{ timestamp_pretty(job.date, show_time=False) }}</li>
                <li class="list-group-item"><strong class="text-dark">Time:</strong> {{ job.time }}</li>
                {% if job.notes %}
                    <li class="list-group-item"><strong class="text-dark">Notes:</strong> {{ job.notes }}</li>
                {% endif %}
                <li class="list-group-item">
                    <a href="{{ url_for('opt_in.show', job_id=job.id) }}" class="btn btn-primary">View {{ job.get_opt_ins(job.id)|length }} opt-in(s)</a>
                    <a href="#" class="btn btn-warning">Edit</a>
                    <a href="{{ url_for('job.cancel', job_id=job.id) }}" class="btn btn-warning">{{ 'Un-c' if job.cancelled else 'C' }}ancel Job</a>
                </li>
            </ul>
        </div>
    {% else %}
        <p>No jobs to show right now.</p>
    {% endfor %}
{% endblock %}