{% extends "base.html" %}

{% block content %}
    {% include 'job/new.html' %}
    {% if not editing %}
        <h2 class="mb-3">Upcoming Jobs ({{ upcoming_jobs|length }})</h2>
        {% for job in upcoming_jobs %}
            {% include 'job/list.html' %}
        {% else %}
            <p>No upcoming jobs to show right now.</p>
        {% endfor %}
        <h2 class="mt-5 mb-3">Past Jobs ({{ past_jobs|length }})</h2>
        {% for job in past_jobs %}
            {% with past_job = True %}
                {% include 'job/list.html' %}
            {% endwith %}
        {% else %}
            <p>No past jobs to show right now.</p>
        {% endfor %}
    {% endif %}
{% endblock %}