{% extends "base.html" %}

{% block content %}
    {% include 'job/form.html' %}
    {% if not editing %}
        <h2 class="mb-3">Current Jobs ({{ current_jobs|length }})</h2>
        {% for job in current_jobs %}
            {% include 'job/list.html' %}
        {% else %}
            <p>No current jobs.</p>
        {% endfor %}
        <h2 class="mt-5 mb-3">Past Jobs ({{ past_jobs|length }})</h2>
        {% for job in past_jobs %}
            {% with past_job = True %}
                {% include 'job/list.html' %}
            {% endwith %}
        {% else %}
            <p>No past jobs.</p>
        {% endfor %}
    {% endif %}
{% endblock %}