{% extends "_base.html" %}

{% block content %}
    <h2 class="mb-3">
        <a href="{{ url_for('job.index') }}" class="btn btn-primary btn-lg mr-1"">◄ Back to Jobs</a>
        Opt-ins ({{ opt_ins|length }})
    </h2>
    {% for opt_in in opt_ins %}
        <div class="card mb-3">
            <div class="card-body">
                ✅ {{ opt_in.opter.full_name }} opted in on {{ timestamp_pretty(opt_in.created_at) }}
            </div>
        </div>
    {% else %}
        <p>No opt-ins yet.</p>
    {% endfor %}
{% endblock %}