{% extends "base.html" %}

{% block content %}
    <h2 class="mb-3">Available Jobs ({{ jobs|length }})</h2>
    {% for job in jobs %}
        {% with %}
            {% set cancelled = job.cancelled %}
            {% set changed = job.created_at != job.updated_at %}
            {% set opted_in = job.opted_into(current_user.id) %}
            <div class="card mb-3 {{ 'bg-danger' if cancelled }}{{ 'bg-warning' if changed }}">
                <div class="card-header {{ 'list-group-item-danger' if cancelled }} {{ 'list-group-item-warning' if changed }}">
                    {% if not cancelled %}
                        {% if opted_in %}
                            <a href="{{ url_for('job.opt_in', job_id=job.id) }}" class="btn btn-secondary mr-2">Opt-out</a>
                        {% else %}
                            <a href="{{ url_for('job.opt_in', job_id=job.id) }}" class="btn btn-primary mr-2">Opt-in</a>
                        {% endif %}
                        {% if changed %}
                            <strong>Attention!</strong> — This job was edited. If applicable, please double-check the new details and opt-in/opt-out if necessary.
                        {% endif %}
                    {% else %}
                        <strong>Attention!</strong> — This job has been cancelled.
                        {{ 'You have opted-in already so please do not attend.' if job.opted_into(current_user.id) else 'You cannot opt-into it.' }}
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong class="text-dark">Address:</strong> {{ job.address }}</li>
                    <li class="list-group-item"><strong class="text-dark">Date:</strong> {{ timestamp_pretty(job.date, show_time=False) }}</li>
                    <li class="list-group-item"><strong class="text-dark">Time:</strong> {{ job.time }}</li>
                    {% if job.notes %}
                        <li class="list-group-item"><strong class="text-dark">Notes:</strong> {{ job.notes }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endwith %}
    {% else %}
        <p>No available jobs to show right now.</p>
    {% endfor %}
{% endblock %}