{% extends "base.html" %}

{% block content %}
    <h2 class="mb-3">Acknowledgements ({{ acknowledgements|length }})
        <a href="{{ url_for('news.index') }}" class="btn btn-primary btn-lg">Back to News</a></h2>
    {% for acknowledgement in acknowledgements %}
        <div class="card mb-3">
            <div class="card-body">
                ✅ Acknowledged by {{ acknowledgement.acknowledger.full_name }} on {{ timestamp_pretty(acknowledgement.created_at) }}
            </div>
        </div>
    {% else %}
        <p>No acknowledgements yet.</p>
    {% endfor %}
{% endblock %}