<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ title + ' — ' if title }}ECGV</title>
</head>
<body>
<div class="container mb-5">
    <div class="bg-light">
        <a href="{{ url_for('user.dashboard') if current_user.is_authenticated else url_for('user.login') }}">
            <img src="{{ url_for('static', filename='logo.jpg') }}" class="img-fluid mx-auto d-block" alt="Easy Care Gardening Logo">
        </a>
        <h5 class="text-center mb-0 p-2"><strong>App Prototype</strong></h5>
    </div>
    {% if current_user.is_authenticated %}
    <ul class="nav justify-content-center mb-5 bg-light p-3">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.profile') }}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.roster') }}">Roster</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('job.feedback') }}">Feedback</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('news.index') }}">News</a></li>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ user_type_pretty(current_user.user_type) }}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Manage Job Sheets</a>
            <a class="dropdown-item" href="{{ url_for('job.feedback') }}">View Feedback</a>
            <a class="dropdown-item" href="{{ url_for('news.index') }}">Manage News</a>
            <a class="dropdown-item" href="{{ url_for('job.index') }}">Manage Jobs</a>
            <a class="dropdown-item" href="#">Edit Job Sheet Template</a>
            <a class="dropdown-item" href="#">Manage Users</a>
        </div>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a></li>
    </ul>
    {% endif %}
    <h1 class="mt-5 mb-5 text-center"><strong>{{ title if title or 'ECGV' }}</strong></h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>