{% extends "base.html" %}

{% block content %}
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>{{ current_user.full_name }}</h3>
                <a href="{{ url_for('profile') }}" class="btn btn-primary btn-block">View Profile</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong class="text-dark">Member since:</strong> {{ timestamp_pretty(current_user.join_date, show_time=False) }}</li>
                <li class="list-group-item"><strong class="text-dark">Next police check:</strong> {{ timestamp_pretty(current_user.next_police_check, show_time=False) }}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Weather</h3>
            </div>
            <div class="card-body">
                <p>Placeholder...</p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-body">
                <a href="{{ url_for('roster') }}"><h3 class="card-title">Roster</h3></a>
                <p class="card-text">View and opt-into gardening jobs available to you.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-body">
                <a href="{{ url_for('feedback') }}"><h3 class="card-title">Feedback</h3></a>
                <p class="card-text">View and manage feedback regarding past jobs.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-body">
                <a href="{{ url_for('news') }}"><h3 class="card-title">News</h3></a>
                <p class="card-text">View and manage updates by Easy Care Gardening coordinators.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-body">
                <a href="{{ url_for('jobs') }}"><h3 class="card-title">Manage Jobs</h3></a>
                <p class="card-text">View and manage the jobs a volunteer may opt-in to.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light">
            <div class="card-body">
                <a href="{{ url_for('logout') }}"><h3 class="card-title">Log out</h3></a>
                <p class="card-text">Keep your account safe by logging out when finished.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}