{% extends "base.html" %}

{% block content %}
<h2 class="mb-3">This Month</h2>
<div class="card mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong class="text-dark">Address:</strong> Wallaby Way</li>
        <li class="list-group-item"><strong class="text-dark">Date:</strong> 2018-03-28</li>
        <li class="list-group-item"><strong class="text-dark">Time:</strong> Morning (09:00 - 12:00)</li>
        <li class="list-group-item"><strong class="text-dark">Notes:</strong><br><i>None.</i></li>
    </ul>
</div>
{% endblock %}