{% extends "base.html" %}

{% block content %}
<h2 class="mb-3">Available Jobs</h2>
{% for job in jobs %}
<div class="card mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong class="text-dark">Address:</strong> {{ job.address }}</li>
        <li class="list-group-item"><strong class="text-dark">Date:</strong> {{ job.date }}</li>
        <li class="list-group-item"><strong class="text-dark">Time:</strong> {{ job.time }}</li>
        <li class="list-group-item"><strong class="text-dark">Notes:</strong>
            {% if job.notes %}
            {{ job.notes }}
            {% else %}
            <i>None</i>
            {% endif %}
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-secondary">Opt-in</a>
        </li>
    </ul>
</div>
{% endfor %}
{% endblock %}